.jumbotron {
    background-color: cornflowerblue;
    color: black;
    margin-top: 50px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.btn-info{
    width: 100%;
    border-radius: 0px;
    margin-top: 1px;
}

/*
.tab-content {
    padding-top: 10px;
}
*/
footer {
    padding: 10px 10px 0 10px;
    background-color: cornflowerblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.buton-icon {
    padding-right: 5px;
    font-size: small;
}
.footer-address-icon {
    padding-right: 10px;
}

a.foot {
    color: cornsilk;
}

a.foot:hover {
    color: yellow;
}