@blueBranding: #6495ed;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
    background-color: @blueBranding;
    color: black;
    .margenes(50px, 15px);
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.btn-info{
    width: 100%;
    border-radius: 0px;
    margin-top: 1px;
}

/*
.tab-content {
    padding-top: 10px;
}
*/
footer {
    padding: 10px 10px 0 10px;
    background-color: @blueBranding;
    .margenes(10px, 0px);
}

.buton-icon {
    padding-right: 5px;
    font-size: small;
}
.footer-address-icon {
    padding-right: 10px;
}

a.foot {
    color: cornsilk;
}

a.foot:hover {
    color: yellow;
}