$blueBranding: #6495ed;
$yellowHover: yellow;
$redLink: cornsilk;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin bordebtn($width, $radius){
    width: $width;
    border-radius: $radius;
}

.jumbotron {
    background-color: $blueBranding;
    color: black;
    @include margenes(50px, 15px);
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    @include bordebtn(100%, 0px)
}

.btn-info{
    @include bordebtn(100%, 0px);
    margin-top: 1px;
}

/*
.tab-content {
    padding-top: 10px;
}
*/
footer {
    padding: 10px 10px 0 10px;
    background-color: $blueBranding;
    @include margenes(10px, 10px);
}

.buton-icon {
    padding-right: 5px;
    font-size: small;
}
.footer-address-icon {
    padding-right: 10px;
}

a.foot {
    color: $redLink;
}

a.foot:hover {
    color: $yellowHover;
}